dl {
    border: 3px;
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    color: #bb9af7;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 160px;
    padding: 0 0 0.5em 0;
}
.terminal {
    --color: #a9b1d6;
    --background: #1a1b26;
    --size: 1.3;
}
h4 {
    color: #bb9af7;
}